.dancing-hor { 
  background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 3px 1px;
  background-repeat: repeat-x;
  animation-name: dance-hor;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}

.dancing-vert {
  background-image: linear-gradient(black 33%, rgba(255,255,255,0) 0%);
  background-position: right;
  background-size: 1px 3px;
  background-repeat: repeat-y;
  animation-name: dance-vert;
  animation-iteration-count: infinite;
  animation-duration: 3s;
 }
 
 @keyframes dance-hor {
  0% {
    background-size: 3px 1px;
    }
  50% {
    background-size: 24px 8px;
    }
  100% {
    background-size: 3px 1px;
    }
 }
  
  @keyframes dance-vert {
  0% {
    background-size: 1px 3px;
    }
  50% {
    background-size: 8px 24px;
    }
  100% {
    background-size: 1px 3px;
    }
  }
